@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');



.container{
    margin: auto;
    margin-top: 150px;
    width: 70%;
    display: flex;
   
    
   
    
}

.texto{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin: 0px;
        
}
p{
    margin: 0px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.titulo{
    color: rgb(117, 117, 211);
    font-family: 'Urbanist';
    font-size: 60px;
    margin: 0px;
    height: auto;
    
    
}
.area-login{
    width: 400px;
    height: auto;
    margin: auto;
    align-items: center;
    border: 2px solid rgb(218, 217, 217);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 12px 10px rgb(163, 154, 137);
}

.area-login input{
    width: 350px;
    height: 20px;
    border: 1px solid  rgb(179, 174, 174);
    outline-color: rgb(107, 107, 228);
    border-radius: 6px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
        
    

}

#entrar{
    width: 380px;
    height: 45px;
    background-color: rgb(97, 97, 223);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; 
     
}
#recuperarSenha{
    width: 380px;
    height: 45px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid rgb(170, 163, 163);
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    
}
#recuperarSenha a {
    text-decoration: none;
}
#recuperarSenha a:hover{
    text-decoration:underline;
}

#criarConta{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 125px;
    margin-right: 125px;
    background-color: rgb(60, 182, 60);
    font-size: 15px;
}
@media screen  and (max-width: 950px) {
    .container{
        margin: auto;
    }
    .texto{
        display: none;
    }
    .area-login{
        align-items: center;
        margin: 0px;
    }
}
@media screen  and (max-width: 600px){
    .area-login{
        width: 100vh;
        align-items: center;
        margin: 0px;
    }
    .area-login input{
        width: 80%;
        height: 10px;
    } 
    #entrar{
        width: 90%;
        height: 45px;
    } 
    #recuperarSenha{
        width: 90%;
        height: 45px;
    } 
    #criarConta{
        width: 90%;
        margin-left: 10px;
    }     
}